.displayPosts {
	background-color: lightgray;
	border: 2px solid blue;
	border-radius: 10px;
}

textarea{
	min-width: 92%;
}

#ChirpBox, #CommentBox{
	background-color: white;
	border: 1px solid lightblue;
    border-radius: 10px;
    min-width: 100%;
}

#Chirp{
	max-width: 70%;
}

.glyphicon-user{
	color: blue;
	text-align: left;
}

.Date{
	text-align: right;
}

#Comments{
	
}

.actions{
	position: absolute;
	bottom: 0;
}

.displayPosts{
	position: relative;
}

.angular-centered {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}